<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Create Store</title>
</head>

<body>
  <div class="store">
    <div class="info">
      <form class="" action="/create/store" method="post">
        <fieldset>
          <legend>Create Store</legend>
          <input type="text" name="storename" placeholder="Store Name">
          <br>
          <textarea type="text" name="description" placeholder="Description"></textarea>
          <input type="submit" value="Add">
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>
